@import url('https://fonts.cdnfonts.com/css/matrix');

html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Space Mono';
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

header{
    margin: 2rem;
    text-align: center;
    border-radius: 15px;
    
}

header h1, header li{
    text-decoration: none;
    font-size: 3.5rem;
    display: inline-block;
    list-style: none;
    margin: 1rem 0 1rem 0;
    color: #444;
}

.underline{
    display: inline-block;
    position: relative;
    
}

.underline::before{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, rgb(231, 225, 225), rgb(68, 68, 68));
    background-size: 0 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size .3s ease-in;
}

.underline:hover::before{
   background-size: 100% 3px;
}
  
h1 {
    text-align: center;
    margin-bottom: 20px;
}

footer{
    margin: 20rem 1rem 1rem 1rem;
    text-align: center;
    border-radius: 15px;
}

footer ul li, a{
    list-style: none;
    text-decoration: none;
    margin: .2rem;
    color: #444;
    font-size: 2rem;
}

.rad1, .rad2, .rad3, .rad4{
    display: inline-block;
    margin: 0rem 4rem 0 4rem;

}

.main-container {
    display: flex;
}

.sidebar{
    margin: 5rem 0 0 5rem;
    max-width: 100%;
    width: 20rem;
}

.sidebar ul{
    padding: 0 2rem 0 2rem;
}


.sidebar ul li{
    list-style: none;
    margin-bottom: 2.5rem;
}

.sidebar ul li a{
    text-decoration: none;
    
}

.section{
    display: flex;
  
}

@media only screen and (max-width: 1500px) {
    .main-container{
        flex-wrap: wrap;
    }

    .flex{
        flex-wrap: wrap;
        margin-top: 5rem;
        justify-content: center; 
       
    }

    .flex .image-container{
        margin-top: 5rem;
        
    }

    .sidebar{
        width: 100%;
        text-align: center;
        
    }

   
  }

